@{
    ViewData["Title"] = "Project CRUD";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Project CRUD .Net</h1>
    <p>Click this link to access CRUD <a href="https://localhost:7292/Employee/Create">CRUD FOR TEST ASP .Net</a></p>
</div>
